body{
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin: 60px; */
    padding: 20px;
    background-color: #1a3c7a;
    color: white;
    border-radius: 5px;
}

.container label{
    font-size: 30px;
}

.tarjeta {
    width: 200px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(87, 28, 104);
}

.tarjeta img {
    margin-top: 15px;
    width: auto;
    height: 200px; 
    border-radius: 10px;
}

.tarjeta p {
    font-size: 16px;
    margin: 10px 0;
}

#p-traje{
    margin: 0;
}

.bannerlogoRS{
    width: 600px; 
    margin-top: 140px;
}

select{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#btn-return{
    margin-bottom: 20px;
    background-color: rgb( 139, 0, 40 );
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Display{
    display: none;
}

/*Responsive*/
@media screen and (max-width:768px){

    .container{
        height: 70%;
        margin-top: 50px;
    }

    .bannerlogoRS{
        width: 300px;
    }
}


